@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles*/

* {
  max-width: 1940px;
}

.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.description {
  font-size: 1rem;
  color: #727272;
  text-align: left;
  margin: 20px;
}

.btn {
  width: 200px;
  font-size: 1.25rem;
  background-color: #ff900e;
  color: #fff;
  border-radius: 8px;
  margin: 50px auto;
  border: none;
  padding: 15px 10px;
  text-align: center;
}
.btn:hover {
  cursor: pointer;
  background-color: rgba(255, 143, 14, 0.75);
  scale: 1.25;
  color: black;
}

/* nav style  */

.navbar {
  padding: 30px;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-link {
  text-decoration: none;
}

/* banner styles starts here  */

.banner-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  width: 850px;
  margin: auto;
}
.container > .description {
  margin: auto;
  width: 650px;
}
.container > img {
  margin: 0 auto;
  max-width: 1440px;
  height: 700px;
}

.feature {
  margin: 85px auto;
  padding: 15px 5px;

  gap: 10px;
}
.feature-img {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.feature-description {
  flex: 1;
  margin-left: 75px;
}
.feature-description > h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.gray-heading {
  color: #727272;
  font-weight: normal;
}

.yellow-heading {
  color: #ff900e;
}
.feature-description > .description {
  text-align: left;
}

/* --------Experience section------------ */
.experience {
  width: 580px;
  height: 1050px;
  text-align: left;
}
.experience-title {
  border-left: 5px solid #ff900e;
  padding-left: 25px;
  font-weight: 700;
  font-size: 2.5rem;
}
.title-description {
  text-align: left;
  color: #727272;
}
.experience-card {
  background-color: #f4f4f4;
  width: 560px;
  border-radius: 8px;
  box-shadow: 1px black;
  margin-top: 10px;
  padding: 5px;
  margin: 5px;
}
.badge-img {
  width: 800px;
  height: 1050px;
  border: 1px solid;
}
.badge-img > img {
  width: 700px;
  height: 980px;
  padding-left: 50px;
}
.badge {
  width: 350px;
  border-radius: 8px;
  background-color: #ff900e;
  color: #fff;
  padding: 45px 25px;
  text-align: center;
  font-size: 2rem;
}
.badge > b {
  font-size: 85px;
}
